body{
    color:#353535;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #4a4a4a;
}
.back-to-top{
    box-shadow: none;
}
.section-padding {
    padding: 30px 0 !important;
}
.header-toolbar {
    padding: 10px 20px;
    width: 100%;
    position: relative;
    z-index: 230;
    background:white;
    color:#999;
}
#header-wrap{
    position:absolute
}